{% extends 'base.html'%}

{% block content%}
{% load cart %}
{% load custom_filter%}

<!--<div class="jumbotron " style="height:100vh;">-->
<!--  <h1 class="display-4">Phal Sabzi</h1>-->
<!--  <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>-->
<!--  <hr class="my-4">-->
<!--  <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>-->
<!--  <p class="lead">-->
<!--    <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>-->
<!--  </p>-->
<!--</div>-->

<div class="container-fluid  mt-3"  id="main">
    <div class="row">
        <!---filters-->
        <div class="col-lg-3 mx-auto mb-3">
            <h1 class="text-center  " style="border:1px solid black;border-radius:10px;padding-bottom:10px;">categories</h1>
            <div class="list-group text-center" style="border:1px solid black">
                <a href="/" class="list-group-item list-group-item-action ">All products</a>
                {% for category in categories%}
                <a href="/?category={{category.id}}"
                   class="list-group-item list-group-item-action ">{{category.name}}</a>
                {%endfor%}
            </div>
        </div>


        <!---Products-->
        <div id="products " class="col-lg-9 mx-auto">
            <div class="row mx-auto ">
                {%for product in products%}
                <div class="card mx-auto mb-3" id="{{product.id}}" style="width: 18rem; border:1px solid black;">
                    <img src="{{product.image.url}}"  height="200px" class="card-img-top" alt="...">
                    <div class="card-body bg-light">
                        <h5 class="card-title">{{product.name}}</h5>
                        <h6 class="card-title">Price: {{product.price|currency}}</h6>
                        <p class="card-text">{{product.description}} </p>
                        <!--                {{product | is_in_cart:request.session.cart }}-->
                    </div>
                    <div class="card-footer  no-gutters p-1 bg-secondary">

                        {% if product|is_in_cart:request.session.cart %}
                        <div class="row no-gutters">
                            <form action="/#{{product.id}}" class="col-2" method="post">
                                {%csrf_token%}
                                <input hidden type="text" name="product" value="{{product.id}}">
                                <input hidden type="text" name="remove" value="True">
                                <input type="submit" value="-" class="  btn btn-block btn-dark">
                            </form>

                            <div class="text-center text-light col">{{product|cart_quantity:request.session.cart}} in
                                cart
                            </div>
                            <form action="/#{{product.id}}" class="col-2" method="post">
                                {%csrf_token%}
                                <input hidden type="text" name="product" value="{{product.id}}">
                                <input type="submit" value="+" class="  btn btn-block btn-dark">
                            </form>
                        </div>
                        {% else %}
                        <form action="/#{{product.id}}" method="post" class="btn-block">
                            {%csrf_token%}
                            <input hidden type="text" name="product" value="{{product.id}}">
                            <input type="submit" class="btn  float-right form-control btn-dark" value="add to cart">
                        </form>
                        {%endif%}

                    </div>

                </div>


                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endblock%}





